<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/doLogin" method="post">
       登录名：<input type="text" name="userName">
       <br/>
       <br/>
       密码：<input type="text" name="password">
       <br/>
       <input type="submit" value="提交">
    </form>
</body>
</html>